
body { font-family:Arial, Helvetica, sans-serif; }


.r1{
  background-color:#fbfbfb;
  }


.r1trai ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.r1trai li{
  display: inline-block;
}

.r1trai a {
  display: block;
  font-size: 13px;
  margin-right: 5px;
  padding: 10px 25px;
  text-decoration-line: none;
  color: blue;
  font-weight: bolder;
}

.r1trai a:hover{
  color: orange;
  text-decoration-line: underline;
}
.r1trai a:active{
  color: #e9e7e7;
}






/*  Dropdown Button */ 
            .dropbtn {
                background-color: transparent;
                color: blue;
                padding: 10px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                width: 140px;
                text-decoration-line: underline;
            }
             
            /* ĐỔi màu nền khi hover và focus Dropdown button */
            .dropbtn:hover, .dropbtn:focus {
                font-weight: bolder;
                color: orange;
            }
             
            /* Định dạng các thẻ bao bọc các menu */
            .dropdown {
                position: relative;
                display: inline-block;
            }
             
            /* Dropdown Content, mặc định sẽ được ẩn đi */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
             
            /* Định dạng các thẻ a là các menu con */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
             
            /* Thay đổi màu nền khi các menu con được hover */
            .dropdown-content a:hover {background-color: #f1f1f1}
             
            /* Hiển thị menu, ta sẽ dùng javascript để thêm class này vào các nôi dung cần được hiển thị */
            .show {display:block;}








            .shopping-item {
              border: 1px solid #ddd;
              font-size: 18px;
              /* margin-top: 40px; */
              padding: 10px;
              position: relative;
          }
          .shopping-item a {
              color: #666;
              text-decoration-line: none;
          }
          .cart-amunt {
              color: #5a88ca;
              font-weight: 700;
          }
          .product-count {
              background: none repeat scroll 0 0 #5a88ca;
              border-radius: 50%;
              color: #fff;
              display: inline-block;
              font-size: 10px;
              height: 20px;
              padding-top: 0px;
              position: absolute;
              right: -10px;
              text-align: center;
              top: -10px;
              width: 20px;
          }
          .shopping-item i.fa {
              margin-left: 15px;
          }
          
          
          .shopping-item:hover {
              background: none repeat scroll 0 0 #5a88ca;
              border-color: #5a88ca;
          }
          .shopping-item:hover a {
              color: #fff;text-decoration: none
          }
          .shopping-item:hover .cart-amunt {
              color: #fff;
          }
          .shopping-item:hover .product-count {
              background: none repeat scroll 0 0 #000;
          }
          



/* main menu */
.menu {
  background-color:  #f8f8f8;
}
.topnav {
  overflow: hidden;
  background-color:  #f8f8f8;
}

.topnav a {

  display:inline-block;
  color: blue;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:orange ;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a.icon {
  text-align: center;
  }


  @media screen and (min-width:601px){
    .menu{
      margin-bottom: 36px;
      position: sticky;
      top: 0px;
      /* right: 0px;
      left: 0px; */
      z-index: 100000; /*Hiển thị lớp trên cùng*/
    }
  }
/* parition */
@media screen and (max-width: 600px) {

  .menu{
    text-align: center;
  }
  

  .topnav a/*:not(:first-child)*/  {display: none;}

  .topnav a.icon {
    
  display: block;border: blue solid 1px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
}

/* search box */

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
  
}


.promo-area {
  background-color: white;
  color: #fff;
  padding: 40px 0 40px;
}
.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #f4f4f4}
.single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}
.single-promo i {
  font-size: 50px;
}

.single-promo:hover {color: #fff;background: #222;}
.promo1 { background:#5a88ca;}
.promo2 { background:#ffd900;}
.promo3 { background:#fa8072;}
.promo4 { background:#4abe54;}


.late {
  font-family: "Raleway",sans-serif;
  color: orange;
  font-weight: 100;
  text-align: center;
}
.popu{
  font-family: "Raleway",sans-serif;
  color: orange;
  font-weight: 100;
  text-align: center;
}

.run{
  width: 250px;
  height: 180px;
  
}



.gancuoi{
  margin-top: 36px;
}
.gancuoi img{
  height: 90px;
  width: 100px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.spnho{
  float: left;
  margin-left: 20px;
}
.gancuoi h2{
  margin-left: 20px;
}

.product-wid-price ins {
  color: #5a88ca;
  font-weight: 700;
  margin-right: 10px;
  text-decoration: none;
}
.product-wid-rating {
  color: #ffc808;
}
.product-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
}


.wid-view-more {
  background: none repeat scroll 0 0 #5a88ca;
  color: #fff;
  padding: 3px 15px;
  position: absolute;
  right: 10px;
  top: 3px;
}
.wid-view-more:hover {color: #fff;background-color: #222;text-decoration: none}


.spnho:hover{
  border: green solid 2px;
}

.mang a{
  font-size: 40px;
  margin-left: 17px; 
}
.chan{
  margin-top: 36px;
  text-align: justify;
  background-color: #222;
  color: white;
  padding-bottom: 110px;
  padding-top: 36px;
}
.chan a{
  color: white;
  text-decoration-line: none;
}
.chan a:hover{

  color: orange;
}
.chan h1{
  display: inline;
  font-size: 50px;
}


.footer-bottom-area {
  background-color: #000;
  color: #fff;
  padding-bottom: 40px;
}
.copyright{
  font-size: 17px;
  margin-top: 10px;
}
.footer-card-icon{
  font-size: 35px;
}
.newsletter-form input[type="email"] {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.newsletter-form input[type="submit"] {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;border: 1px solid #5a88ca;
}
.newsletter-form input[type="submit"]:hover {background: #222;border-color: #666}
.newsletter-form {
  margin-top: 25px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5a88ca;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: orange;
}